<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uwl.atse.unihelp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uwl.atse.unihelp.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="uwl.atse.unihelp.ui.AddCourseItem" >
        </activity>
        <activity android:name="uwl.atse.unihelp.ui.AddCourse" >
        </activity>
        <activity android:name="uwl.atse.unihelp.ui.DisplayCourses" >
        </activity>
        <activity android:name="uwl.atse.unihelp.ui.CourseView" >
        </activity>
        <activity android:name="uwl.atse.unihelp.ui.NotificationDisplay" >
        </activity>
         <activity android:name="uwl.atse.unihelp.ui.AssignmentView" >
        </activity>
        <service android:name="uwl.atse.unihelp.service.ScheduleService" />
        <service android:name="uwl.atse.unihelp.service.NotificationService" />
    </application>

</manifest>